In [1]:
from patsy import balanced, demo_data
import numpy as np
import pandas as pd

# fake a pd.DataFrame
def get_df(n_a = 2, n_b = 3, n_epochs = 4, n_streams = 3):

    n_times = n_a * n_b
    n_obs = n_times * n_epochs

    epoch_id = np.repeat(range(n_epochs), n_times)
    time = np.tile(range(n_times), n_epochs)
    factors = np.repeat(pd.DataFrame(balanced(a=n_a, b=n_b)).to_numpy(), n_epochs, axis=0)
    data = np.arange(n_obs * n_streams).reshape(n_streams, n_obs).T
                                            
    df = pd.concat(
        [pd.DataFrame(arry) for arry in [epoch_id, time, factors, data]], 
        axis=1,
    )
    df.columns = ["epoch_id", "time", "a", "b", "x", "y", "z"]
    return df

In [2]:
# save a copy for demonstration
df = get_df()

# center two columns in place (for demonstration start and stop are epoch row indexes not times)
strms = ["x", "z"]

In [3]:
from spudtr import epf, DATA_DIR, P3_F, P5_F, WR_F
import spudtr.fake_epochs_data as fake_data

from spudtr.epf import EPOCH_ID, TIME

import numpy as np
import pandas as pd

In [4]:
epf.center_eeg(df, strms, start=0, stop=2, verbose=True)
x = df[strms].values

centering interval indexes
 [ 0  1  2  6  7  8 12 13 14 18 19 20]
centering interval values
     epoch_id  time   a   b   x   y   z
0          0     0  a1  b1   0  24  48
1          0     1  a1  b1   1  25  49
2          0     2  a1  b1   2  26  50
6          1     0  a1  b2   6  30  54
7          1     1  a1  b2   7  31  55
8          1     2  a1  b3   8  32  56
12         2     0  a2  b1  12  36  60
13         2     1  a2  b1  13  37  61
14         2     2  a2  b1  14  38  62
18         3     0  a2  b2  18  42  66
19         3     1  a2  b2  19  43  67
20         3     2  a2  b3  20  44  68
input data centering interval means
            x   z
epoch_id
0          1  49
1          7  55
2         13  61
3         19  67
center_on is successful with atol=0.01

In [5]:

from spudtr import epf1, DATA_DIR, P3_F, P5_F, WR_F
import spudtr.fake_epochs_data as fake_data

from spudtr.epf1 import EPOCH_ID, TIME

import numpy as np
import pandas as pd

In [13]:
df = get_df()
display(df)
df1=epf1.center_eeg(df, strms, start=0, stop=2, time="time")
display(df1)
y = df1[strms].values

    epoch_id  time   a   b   x   y   z
0          0     0  a1  b1   0  24  48
1          0     1  a1  b1   1  25  49
2          0     2  a1  b1   2  26  50
3          0     3  a1  b1   3  27  51
4          0     4  a1  b2   4  28  52
5          0     5  a1  b2   5  29  53
6          1     0  a1  b2   6  30  54
7          1     1  a1  b2   7  31  55
8          1     2  a1  b3   8  32  56
9          1     3  a1  b3   9  33  57
10         1     4  a1  b3  10  34  58
11         1     5  a1  b3  11  35  59
12         2     0  a2  b1  12  36  60
13         2     1  a2  b1  13  37  61
14         2     2  a2  b1  14  38  62
15         2     3  a2  b1  15  39  63
16         2     4  a2  b2  16  40  64
17         2     5  a2  b2  17  41  65
18         3     0  a2  b2  18  42  66
19         3     1  a2  b2  19  43  67
20         3     2  a2  b3  20  44  68
21         3     3  a2  b3  21  45  69
22         3     4  a2  b3  22  46  70
23         3     5  a2  b3  23  47  71

center_eeg is correct

    epoch_id  time   a   b    x   y    z
0          0     0  a1  b1 -1.0  24 -1.0
1          0     1  a1  b1  0.0  25  0.0
2          0     2  a1  b1  1.0  26  1.0
3          0     3  a1  b1  2.0  27  2.0
4          0     4  a1  b2  3.0  28  3.0
5          0     5  a1  b2  4.0  29  4.0
6          1     0  a1  b2 -1.0  30 -1.0
7          1     1  a1  b2  0.0  31  0.0
8          1     2  a1  b3  1.0  32  1.0
9          1     3  a1  b3  2.0  33  2.0
10         1     4  a1  b3  3.0  34  3.0
11         1     5  a1  b3  4.0  35  4.0
12         2     0  a2  b1 -1.0  36 -1.0
13         2     1  a2  b1  0.0  37  0.0
14         2     2  a2  b1  1.0  38  1.0
15         2     3  a2  b1  2.0  39  2.0
16         2     4  a2  b2  3.0  40  3.0
17         2     5  a2  b2  4.0  41  4.0
18         3     0  a2  b2 -1.0  42 -1.0
19         3     1  a2  b2  0.0  43  0.0
20         3     2  a2  b3  1.0  44  1.0
21         3     3  a2  b3  2.0  45  2.0
22         3     4  a2  b3  3.0  46  3.0
23         3     5  a2  b3  4.0  47  4.0

In [14]:
np.allclose(x, y, atol=1e-02)

True